
{% extends "index.html" %}

{% block content %}
<div class="header">
    <h2 style="font-weight: bold;">Projekty z laboratoriów</h2>
    <br/>
</div>


<div class="list" style="padding-left:200px;">
    <ul>
      <li>
          <a style="font-weight: bold;">
              Symulacje regulatorów
          </a>

          <ul>
            <li>
                <a href="{{ url_for('get_no_reg') }}">
                  Napełnianie zbiornika bez regulatora
                </a>
            </li>
            <li>
                <a href="{{ url_for('get_p_reg') }}">
                  Napełnianie zbiornika z regulatorem typu PI
                </a>
            </li>
              <li>
                <a href="{{ url_for('get_mixing') }}">
                  Stężenie składnika przy mieszaniu dwóch substancji z regulatorem rozmytym
                </a>
            </li>
              <li>
                <a href="{{ url_for('get_reg_mixing') }}">
                  Stężenie składnika przy mieszaniu dwóch substancji z regulatorem PID
                </a>
            </li>
                            <li>
                <a href="{{ url_for('get_comparition') }}">
                  Porównanie regulatora PID i rozmytego
                </a>
            </li>
          </li>
        </ul>
      </li>
    </ul>

</div>


{% endblock %}

